@media (min-width: 640px) {
.login-container-logo {
    display: block;
}
}
@media (max-width: 640px) {
    .main-container-card {
        grid-template-columns: (auto-fill, 140px);
        place-content: center;
    }
    .main-container-card__product {
        width: 140px;
    }
    .main-container-card__product img {
        width: 140px;
        height: 140px;
    }
}
@media (max-width: 640px) {
    .nav-container-imagen {
        display: block;
    }
    .nav-container-left ul {
        display: none;
    }
    .nav-container-right__email {
        display: none;
    }
}