* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --very-light-pink: #615d5d;
    --text-input-field: #F7F7F7;
    --HOSPITAL-GREEN: #ACD9B2;
    --white: #FFFFFF;
    --black: #000000;
}
html {
    font-size: 62.5%;
    font-family:'Quicksand', sans-serif;
}

.desktop-menu {
    width: 100px;
    height: auto;
    border: 1px solid var(--very-light-pink);
    border-radius: 6px;
    padding: 20px 20px 0 20px;
}
.desktop-menu ul {
    list-style: none;
}

.desktop-menu ul li {
    text-align: end;
    font-size: 1.0rem;
}
.desktop-menu ul li:nth-child(1),
.desktop-menu ul li:nth-child(2){
    font-weight: bold;
}
.desktop-menu ul li:last-child {
    padding-top: 20px;
    border-top: 1px solid var(--very-light-pink);
} 
.desktop-menu ul li:last-child a {
    color: var(--HOSPITAL-GREEN);
    font-size: 1.2rem;
}
.desktop-menu ul li a {
    display: inline-block;
    color: var(--black);
    text-decoration: none;
    margin-bottom: 20px;
}