/* buenas es tes es el curso de fronted depelover */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --very-light-pink: #615d5d;
    --text-input-field: #F7F7F7;
    --HOSPITAL-GREEN: #ACD9B2;
    --white: #FFFFFF;
    --black: #000000;
}
html {
    font-size: 62.5%;
    font-family:'Quicksand', sans-serif;
}
 /* estilos de login  */
.login {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}
.login-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
    justify-items: center
}
.login-container-logo {
    width: 150px;
    margin-bottom: 50px;
    justify-self: center;
}
.login-container-title {
    font-size: 1.8rem;
    margin-bottom: 12px;
    text-align: center;
}
.login-container-subtitle {
    font-size: 1.4rem;
    margin-bottom: 14px;
    text-align: center;
    color: var(--very-light-pink);
    font-weight: 300;
}
.email-container-image {
    width: 132px;
    height: 132px;
    border-radius: 50%;
    background-color: var(--text-input-field);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}
.email-container-image img {
    width: 80px;
}
.login-container-form {
    display: grid;
    place-items: center;
}
.login-container-form label {
    justify-items: left;
    align-items: center;
    justify-content: left;
    margin-bottom: 14px;
    font-size: 1.4rem;
    font-weight: bold;
}
.login-container-form__input {
justify-content: center;
align-items: center;
margin-bottom: 14px;
width: 300px;
padding-left: 12px;
background-color: var(--text-input-field);
border: none;
border-radius: 12px;
height: 30px;
font-size: 300;
}
.login-container-form__button {
    background-color: var(--HOSPITAL-GREEN);
    border-radius: 12px;
    width: 300px;
    border: none;
    color: var(--white);
    padding: 8px 54px 8px 54px;
    margin-top: 4px;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 500;
}
.email-container-texEnd {
    font-size: 1.4rem;
    margin-top: 12px;
}
.email-container-texEnd span {
    color: var(--very-light-pink);
}
.email-container-texEnd a {
    color: var(--HOSPITAL-GREEN);
    text-decoration: none;
}
.email-container-forget {
    color: var(--HOSPITAL-GREEN);
    font-size: 1.6rem;
    text-align: center;
    margin: 12px 0 50px 0;
    text-decoration: none;

}
.email-container-button {
background-color: var(--white);
border-radius: 12px;
height: 50px;
width: 300px;
color: var(--HOSPITAL-GREEN);
border: 1px solid var(--HOSPITAL-GREEN);
cursor: pointer;
font-size: 1.8rem;
margin-top: 150px;
}