/* buenas es tes es el curso de fronted depelover */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --very-light-pink: #615d5d;
    --text-input-field: #F7F7F7;
    --HOSPITAL-GREEN: #ACD9B2;
    --white: #FFFFFF;
    --black: #000000;
}
html {
    font-size: 62.5%;
    font-family:'Quicksand', sans-serif;
}
.inactive {
    display: none;
}
/* estilos de nav */
.nav-container {
    display: flex;
    margin-top: 24px;
    justify-content: space-between;
    padding: 0 24px;
    border-bottom: 1px solid var(--very-light-pink);
}
.nav-container-imagen {
    display: none;
}
.nav-container-left {
    display: flex;
}
.nav-container-left ul {
    margin-left: 12px;
}
.nav-container-left img {
    width: 150px;
}
.nav-container-left ul,
.nav-container-right ul {
    list-style: none;
    margin-top: 0px;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
}
.nav-container-left ul li a,
.nav-container-right ul li a {
    text-decoration: none;
    color: var(--very-light-pink);
    border: 1px solid var(--white);
    padding: 8px;
    border-radius: 8px;
}
.nav-container-left ul li a:hover,
.nav-container-right ul li a:hover {
    text-decoration: none;
    border: 1px solid var(--HOSPITAL-GREEN);
    color: var(--HOSPITAL-GREEN);
}

.nav-container-right .nav-container-right__email {
    color: var(--very-light-pink);
    cursor: pointer;
    margin-right: 12px;
}
.nav-container-right__shopping {
    position: relative;
}
.nav-container-right__shopping div {
    width: 12px;
    height: 12px;
    background-color: var(--HOSPITAL-GREEN);
    border-radius: 50%;
    font-size: 0.9rem;
    font-weight: bold;
    position: absolute;
    top: -5px;
    right: -4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* desktop menu css */
.desktop-menu {
    position: absolute;
    background-color: var(--white);
    top:55px;
    right:60px;
    width: 100px;
    height: auto;
    border: 1px solid var(--very-light-pink);
    border-radius: 6px;
    padding: 20px 20px 0 20px;
}
.desktop-menu ul {
    list-style: none;
}

.desktop-menu ul li {
    text-align: end;
    font-size: 1.0rem;
}
.desktop-menu ul li:nth-child(1),
.desktop-menu ul li:nth-child(2){
    font-weight: bold;
}
.desktop-menu ul li:last-child {
    padding-top: 20px;
    border-top: 1px solid var(--very-light-pink);
} 
.desktop-menu ul li:last-child a {
    color: var(--HOSPITAL-GREEN);
    font-size: 1.2rem;
}
.desktop-menu ul li a {
    display: inline-block;
    color: var(--black);
    text-decoration: none;
    margin-bottom: 20px;
}
 /* estilos de login  */
.login {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}
.login-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
    justify-items: center
}
.login-container-logo {
    width: 150px;
    margin-bottom: 50px;
    justify-self: center;
}
.login-container-title {
    font-size: 1.8rem;
    margin-bottom: 12px;
    text-align: center;
}
.login-container-subtitle {
    font-size: 1.4rem;
    margin-bottom: 14px;
    text-align: center;
    color: var(--very-light-pink);
    font-weight: 300;
}
.email-container-image {
    width: 132px;
    height: 132px;
    border-radius: 50%;
    background-color: var(--text-input-field);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}
.email-container-image img {
    width: 80px;
}
.login-container-form {
    display: grid;
    place-items: center;
}
.login-container-form label {
    justify-items: left;
    align-items: center;
    justify-content: left;
    margin-bottom: 14px;
    font-size: 1.4rem;
    font-weight: bold;
}
.login-container-form__input {
justify-content: center;
align-items: center;
margin-bottom: 14px;
width: 300px;
padding-left: 12px;
background-color: var(--text-input-field);
border: none;
border-radius: 12px;
height: 30px;
font-size: 300;
}
.login-container-form__button {
    background-color: var(--HOSPITAL-GREEN);
    border-radius: 12px;
    width: 300px;
    border: none;
    color: var(--white);
    padding: 8px 54px 8px 54px;
    margin-top: 4px;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 500;
}
.email-container-texEnd {
    font-size: 1.4rem;
    margin-top: 12px;
}
.email-container-texEnd span {
    color: var(--very-light-pink);
}
.email-container-texEnd a {
    color: var(--HOSPITAL-GREEN);
    text-decoration: none;
}
.email-container-forget {
    color: var(--HOSPITAL-GREEN);
    font-size: 1.6rem;
    text-align: center;
    margin: 12px 0 50px 0;
    text-decoration: none;

}
.email-container-button {
background-color: var(--white);
border-radius: 12px;
height: 50px;
width: 300px;
color: var(--HOSPITAL-GREEN);
border: 1px solid var(--HOSPITAL-GREEN);
cursor: pointer;
font-size: 1.8rem;
margin-top: 150px;
}
.Value {
    color: var(--very-light-pink);
    font-size:1.6rem;
    margin: 8px 0 32px 0;
}